<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to our HR Helper</title>
	<meta charset="utf-8">
   
</head>
<body >
    <ul>
        <li><a routerLink="/home" >Home</a></li>
        <li *ngIf="!loggedIn"><a routerLink="/login">login</a></li>
        <li  *ngIf="loggedIn"><a (click)="LogOut()">logout</a></li>
        <li><a  *ngIf="!loggedIn"routerLink="/register">register</a></li>
       
        
    </ul>

    <section class="container">
        
        <h1 class="title">Choose Job Postion</h1>
        <div class="container" >
            <div *ngFor="let jobpostion of jobPostions">
                <h5  *ngIf="loggedIn"><a (click)="mackInterview(jobpostion.id)"> {{jobpostion.title}} </a></h5> 

            </div>
        
        </div>

        <footer>
            <p>WELCOME TO THE HR Helper</p>
            
            
        </footer>
    </section>

</body>
</html>
